services:
  time-nginx:
    build:
      context: ./nginx
    container_name: time-nginx
    ports:
      - 8123:80
    networks:
      - saga-net
  time-app:
    build:
      context: .
      # args:
      #     DATABASE_URL: ${DATABASE_URL}
    container_name: time-app
    ports:
      - 1000:1000
    networks:
      - saga-net
    env_file:
      - .env.docker
  time-fs:
    build:
      context: ./express
      dockerfile: Dockerfile
    container_name: time-fs
    networks:
      - saga-net
    env_file:
      - .env.docker
    # ports:
    #   - 1111:1111
    volumes:
      - /d/time-attendance/media:/app/storage/media
    hostname: ricky
networks:
  saga-net:
    external: true
