p, span, a, input, button, label, textarea{
    font-family: "Poppins", sans-serif;
}

#MyButton{
    font-size: .9rem;
    font-family: "Poppins", sans-serif;
}

tr{
    background-color: var(--bg-bgdark);
}

td{
    color: var(--text-textdark);
}

:global(.sv-control){
    border: none;
    outline: none;
    background-color: var(--bg-bgdark)!;
    border: 2px solid var(--color-slate-300)!;
}

.sv-control{
    border: 2px solid var(--color-slate-300) !important;
    border-radius: var(--radius-lg) !important;
    background-color: var(--color-bgdark) !important;
}

.sv_dropdown, .sv-dropdown-scroll{
    background-color: var(--color-bgdark) !important;
    box-shadow: none !important;
}

.sv-dropdown-content{
    background-color: var(--color-bgdark) !important;
}

.sv-item--wrap:hover{
    background-color: var(--color-bgdark2) !important;
}

.in-dropdown.is-selected {
    background-color: var(--color-bgside) !important;
}

.std-component-wrap{
    width: 100% !important;
}

select{
    border: 2px solid  var(--color-slate-300);
    border-radius: var(--radius-lg);
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentColor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    outline-style: var(--tw-outline-style);
    outline-width: 0px;
    background-color: var(--color-bgdark) !important;
}

.ec{
    width: 100% !important;
    height: 100%;
}

.ec-button{
    background-color: var(--color-bgside);
    color: var(--color-textdark2);
    font-size: .9rem;
    padding: .3rem .5rem;
    border-radius: 6px;
    text-transform: capitalize;
}

.ec-header{
    border-radius: 6px 6px 0 0;
}
.ec-body{
    /* border-radius: 6px; */
    border-radius: 0 0 6px 6px;
}

.ec-body .ec-day-head{
    background-color: var(--color-bgdark2);
    color: var(--color-textdark2);
}
.ec-day.ec-today{
    background-color: #17BEBB;
}