p, span, a, input, button, label, textarea{
    font-family: "Poppins", sans-serif;
}

#MyButton{
    font-size: .9rem;
    font-family: "Poppins", sans-serif;
}

tr{
    background-color: var(--bg-bgdark);
}

td{
    color: var(--text-textdark);
}

.sv-control{
    border: none;
    outline: none;
    background-color: var(--bg-bgdark)!;
}

.sv-input--text, .sv-control--selection, .sv-input--sizer{
    border: none !important;
    outline: none !important;
}

.std-component-wrap{
    width: 100% !important;
}

